<?xml version="1.0" ?>
<robot name="aidin_arm" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find aidin_arm)/urdf/sensors/xtion_pro_live.urdf.xacro"/>

  <!-- Arm property-->
  <xacro:property name="PI" value="3.1415926535897931"/>
  <xacro:property name="d1" value="0.108" />
  <xacro:property name="a2" value="0.35" />
  <xacro:property name="a3" value="0.1" />
  <xacro:property name="d4" value="0.4" />
  <xacro:property name="d6" value="0.1" />

  <!-- Import all Gazebo-customization elements, including Gazebo colors -->
  <!-- <xacro:include filename="$(find rrbot_description)/urdf/aidin_arm.gazebo" /> -->
  <!-- <xacro:include filename="$(find aidin_arm)/urdf/aidin_arm.gazebo" /> -->

  <material name="black">
    <color rgba="0.0 0.0 0.0 1.0"/>
  </material>
  <material name="blue">
    <color rgba="0.0 0.0 0.8 1.0"/>
  </material>
  <material name="green">
    <color rgba="0.0 0.8 0.0 1.0"/>
  </material>
  <material name="grey">
    <color rgba="0.2 0.2 0.2 1.0"/>
  </material>
  <material name="silver">
    <color rgba="0.913725490196 0.913725490196 0.847058823529 1.0"/>
  </material>
  <material name="orange">
    <color rgba="1.0 0.423529411765 0.0392156862745 1.0"/>
  </material>
  <material name="brown">
    <color rgba="0.870588235294 0.811764705882 0.764705882353 1.0"/>
  </material>
  <material name="red">
    <color rgba="0.8 0.0 0.0 1.0"/>
  </material>
  <material name="yellow">
    <color rgba="0.8 0.8 0.0 1.0"/>
  </material>
  <material name="white">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>

  <link name="world"/>

  <!-- Box -->

  <!-- <joint name="box_fix" type="fixed">
    <parent link="world"/>
    <child link="box"/>
    <origin xyz="1.2 1.2 0.41" rpy="0 0 0.785398163397"/> 
    <axis xyz="0 0 1"/>
  </joint>
  
    <link name="box">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.3 0.3 0.82"/>
      </geometry>
      <material name="white"/>
    </visual>
    <visual>
      <origin xyz="0 0 0.46" rpy="0 -1.5707963267949 0"/>
      <geometry>
        <mesh filename="package://aidin_arm/meshes/aruco_cube/marker_582.dae" scale="2 2 2"/>
      </geometry>
      <material name="white"/>
    </visual>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="40"/>
      <inertia
      ixx="1" ixy="0.0" ixz="0.0"
      iyy="1" iyz="0.0"
      izz="1"/>
      </inertial>
  </link> -->


   <joint name="box_fix" type="fixed">
    <parent link="world"/>
    <child link="box"/>
    <origin xyz="1.8 0 0.41" rpy="0 0 0"/> 
    <axis xyz="0 0 1"/>
  </joint>
  
    <link name="box">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.3 0.3 0.82"/>
      </geometry>
      <material name="white"/>
    </visual>
    <visual>
      <origin xyz="0 0 0.46" rpy="0 -1.5707963267949 0"/>
      <geometry>
        <mesh filename="package://aidin_arm/meshes/aruco_cube/marker_582.dae" scale="2 2 2"/>
      </geometry>
      <material name="white"/>
    </visual>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="40"/>
      <inertia
      ixx="1" ixy="0.0" ixz="0.0"
      iyy="1" iyz="0.0"
      izz="1"/>
      </inertial>
  </link>



 <!-- Mobile_Robot -->

  <joint name="x_joint_move" type="prismatic">
    <parent link="world"/>
    <child link="dummy_base_1"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <dynamics damping="1"/>
    <!-- lower, upper unit: radian -->
    <limit lower="-1000" upper="1000" effort="200000" velocity="10000"/> 
  </joint>

  <link name="dummy_base_1">
		<inertial>
			<origin xyz="0.0 0.0 0" rpy="0.0 0.0 0.0"/>
			<mass value="0.01"/>
			<inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01"/>
		</inertial>
	</link>

  <joint name="y_joint_move" type="prismatic">
    <parent link="dummy_base_1"/>
    <child link="dummy_base_2"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <dynamics damping="1"/>
    <limit lower="-1000" upper="1000" effort="200000" velocity="10000"/>  
  </joint>

  <link name="dummy_base_2">
		<inertial>
			<origin xyz="0.0 0.0 0" rpy="0.0 0.0 0.0"/>
			<mass value="0.01"/>
			<inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01"/>
		</inertial>
	</link>

  <joint name="z_joint_revolute" type="continuous">
    <parent link="dummy_base_2"/>
    <child link="mobile_base"/>
    <origin xyz="0 0 0.5" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="1"/>
    <limit effort="200" velocity="10"/>
  </joint>

  <link name="mobile_base">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	      <box size="0.8 0.3 0.2"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	      <box size="0.8 0.3 0.2"/>
      </geometry>
      <material name="white"/>
    </visual>

    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="10"/>
      <inertia
      ixx="0.15" ixy="0.0" ixz="0.0"
      iyy="0.60833333333" iyz="0.0"
      izz="0.60833333333"/>
      </inertial>
  </link>

<!-- Aidin_Arm -->
  <joint name="arm_joint0" type="fixed">
    <parent link="mobile_base"/>
    <child link="arm_base"/>
    <origin xyz="0.3 0 0.1" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
  </joint>

  <!-- Base Link -->
  <link name="arm_base">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://aidin_arm/meshes/aidin_arm/DH/prt_r1_prt.STL" scale="1 1 1"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://aidin_arm/meshes/aidin_arm/DH/prt_r1_prt.STL" scale="1 1 1"/>
      </geometry>
      <material name="red"/>
    </visual>

    <inertial>
      <origin xyz="0 0 0.02237" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia
      ixx="0.000705" ixy="0.0" ixz="0.0"
      iyy="0.000705" iyz="0.0"
      izz="0.001025"/>
      </inertial>
  </link>

  <joint name="arm_joint1" type="revolute">
    <parent link="arm_base"/>
    <child link="arm_link1"/>
    <origin xyz="0 0 ${d1}" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="5"/>
    <limit lower="-10" upper="10" effort="200" velocity="10"/>
  </joint>

  <!-- Link 1 -->
  <link name="arm_link1">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://aidin_arm/meshes/aidin_arm/DH/prt_p2_prt.STL" scale="1 1 1"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://aidin_arm/meshes/aidin_arm/DH/prt_p2_prt.STL" scale="1 1 1"/>
      </geometry>
      <material name="grey"/>
    </visual>

    <inertial>
      <origin xyz="0 0 -0.01083" rpy="0 0 0"/>
      <mass value="2"/>
      <inertia
      ixx="0.005248" ixy="0.0" ixz="0.0"
      iyy="0.003269" iyz="0.0"
      izz="0.004383"/>
      </inertial>
    </link>

  <joint name="arm_joint2" type="revolute">
    <parent link="arm_link1"/>
    <child link="arm_link2"/>
    <origin xyz="0 0 0" rpy="-1.5708 0 0"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="5"/>
    <!-- <limit lower="-1.74533" upper="1.74533" effort="200" velocity="10"/> -->
    <limit lower="-3.316126" upper="0.1745337" effort="200" velocity="10"/>
  </joint>

  <!-- Link 2 -->
  <link name="arm_link2">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://aidin_arm/meshes/aidin_arm/DH/prt_p3_prt.STL" scale="1 1 1"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://aidin_arm/meshes/aidin_arm/DH/prt_p3_prt.STL" scale="1 1 1"/>
      </geometry>
      <material name="grey"/>
    </visual>

    <inertial>
      <origin xyz="0.175 0 0" rpy="0 0 0"/>
      <mass value="2"/>
      <inertia
      ixx="0.001909" ixy="0.0" ixz="0.0"
      iyy="0.028177" iyz="0.0"
      izz="0.028631"/>
      </inertial>
  </link>

  <joint name="arm_joint3" type="revolute">
    <parent link="arm_link2"/>
    <child link="arm_link3"/>
    <origin xyz="${a2} 0 0" rpy="0 0 -1.5708"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="5"/>
    <limit lower="0" upper="3.2" effort="200" velocity="10"/>
  </joint>

  <!-- Link 3 -->
  <link name="arm_link3">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://aidin_arm/meshes/aidin_arm/DH/prt_r4_prt.STL" scale="1 1 1"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://aidin_arm/meshes/aidin_arm/DH/prt_r4_prt.STL" scale="1 1 1"/>
      </geometry>
      <material name="grey"/>
    </visual>

    <inertial>
      <origin xyz="0.069785 0.06064 0" rpy="0 0 0"/>
      <mass value="1.5"/>
      <inertia
      ixx="0.004752" ixy="0.002269" ixz="0.0"
      iyy="0.003243" iyz="0.0"
      izz="0.006701"/>
    </inertial>
  </link>
  
  <joint name="arm_joint4" type="revolute">
    <parent link="arm_link3"/>
    <child link="arm_link4"/>
    <origin xyz="${a3} ${d4} 0" rpy="-1.5708 0 0"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="1.5"/>
    <limit lower="-10" upper="10" effort="200" velocity="10"/>
  </joint>

<!-- Link 4 -->
  <link name="arm_link4">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://aidin_arm/meshes/aidin_arm/DH/prt_p5_prt.STL" scale="1 1 1"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://aidin_arm/meshes/aidin_arm/DH/prt_p5_prt.STL" scale="1 1 1"/>
      </geometry>
      <material name="grey"/>
    </visual>

    <inertial>
      <origin xyz="0 0 -0.122418" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia
      ixx="0.005564" ixy="0.0" ixz="0.0"
      iyy="0.005636" iyz="0.0"
      izz="0.000697"/>
    </inertial>
  </link>
  
  <joint name="arm_joint5" type="revolute">
    <parent link="arm_link4"/>
    <child link="arm_link5"/>
    <origin xyz="0 0 0" rpy="1.5708 0 0"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="1.2"/>
    <limit lower="-1.74533" upper="1.74533" effort="200" velocity="10"/>
    <!-- <limit lower="-3" upper="3" effort="200" velocity="10"/> -->
  </joint>

<!-- Link 5 -->
  <link name="arm_link5">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://aidin_arm/meshes/aidin_arm/DH/prt_r6_prt.STL" scale="1 1 1"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://aidin_arm/meshes/aidin_arm/DH/prt_r6_prt.STL" scale="1 1 1"/>
      </geometry>
      <material name="grey"/>
    </visual>

    <inertial>
      <origin xyz="0 0.039595 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia
      ixx="0.000958" ixy="0.0" ixz="0.0"
      iyy="0.000481" iyz="0.0"
      izz="0.000889"/>
    </inertial>
  </link>
  
  <joint name="arm_joint6" type="revolute">
    <parent link="arm_link5"/>
    <child link="arm_link6"/>
    <origin xyz="0 ${d6} 0" rpy="1.5708 0 3.1416"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="0.5"/>
    <limit lower="-5" upper="5" effort="200" velocity="10"/>
  </joint>
  
<!-- Link 6 -->
  <link name="arm_link6">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://aidin_arm/meshes/aidin_arm/DH/prt_test_gripper_prt.STL" scale="1 1 1"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://aidin_arm/meshes/aidin_arm/DH/prt_test_gripper_prt.STL" scale="1 1 1"/>
      </geometry>
      <material name="red"/>
    </visual>

    <inertial>
      <origin xyz="-0.003252 0.000001 0.071944" rpy="0 0 0"/>
      <mass value="0.5"/>
      <!-- <mass value="2.5"/> -->
      <inertia
      ixx="0.001087" ixy="0.0" ixz="0.0"
      iyy="0.001307" iyz="0.0"
      izz="0.000489"/>
    </inertial>
  </link>

  <!-- <joint name="gripper_joint" type="fixed">
    <parent link="arm_link6"/>
    <child link="arm_gripper"/>
    <origin xyz="0 0 0.1" rpy="0 -1.5708 0"/>
  </joint> -->

  <!-- <link name="arm_gripper">
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <collision name="gripper_col">
      <origin rpy="0  0  0" xyz="0  0  0"/>
      <geometry>
        <sphere radius="0.075"/>
      </geometry>
      <contact>
        <lateral_friction value="1.0" />
        <rolling_friction value="0.001"/>
        <torsional_friction value="0.001"/>
        <contact_cfm value="0.0"/>
        <contact_erp value="0.2"/>
        <ode>
          <mu>1+e100</mu>
          <mu2>10000</mu2>
          <minDepth>0.0002</minDepth>
          <kp  value="1000.0"/>
          <kd  value="100.0"/>
        </ode>
      </contact>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.075"/>
      </geometry>
      <material name="red"/>
    </visual>
  </link> -->

  <!-- <gazebo reference="gripper_joint">
    <provideFeedback>true</provideFeedback>
  </gazebo>
  <gazebo>
    <plugin name="ft_sensor" filename="libgazebo_ros_ft_sensor.so">
      <updateRate>50.0</updateRate>
      <topicName>gripper_ft_sensor</topicName>
      <jointName>gripper_joint</jointName>
    </plugin>
  </gazebo> -->

  <!-- <gazebo reference="gripper_joint">
    <disableFixedJointLumping>true</disableFixedJointLumping>
    <sensor name="ft_sensor" type="force_torque">
      <force_torque>
        <frame>child</frame>
        <measure_direction>child_to_parent</measure_direction>
      </force_torque>
    </sensor>
  </gazebo>
  <gazebo>
      <plugin name="ft_sensor" filename="libgazebo_ros_ft_sensor.so">
          <updateRate>1000.0</updateRate>
          <topicName>gripper_ft_sensor</topicName>
          <jointName>gripper_joint</jointName>
      </plugin>
  </gazebo> -->

  <gazebo reference="arm_joint0">
    <disableFixedJointLumping>true</disableFixedJointLumping>
    <sensor name="ft_sensor" type="force_torque">
      <force_torque>
        <frame>child</frame>
        <measure_direction>child_to_parent</measure_direction>
      </force_torque>
    </sensor>
  </gazebo>
  <gazebo>
      <plugin name="ft_sensor" filename="libgazebo_ros_ft_sensor.so">
          <updateRate>1000.0</updateRate>
          <topicName>base_ft_sensor</topicName>
          <jointName>arm_joint0</jointName>
      </plugin>
  </gazebo>

  <!-- Define RGB-D sensor -->  
  <xacro:xtion_pro_live name="rgbd_camera" parent="arm_link5">
    <origin xyz="0.07 0.1 0.0" rpy="${90.0 * deg_to_rad} ${0.0 * deg_to_rad} ${90.0 * deg_to_rad}"/>
    <origin xyz="0 0 0" rpy="${-90 * deg_to_rad} ${0 * deg_to_rad} ${-90 * deg_to_rad}" />
  </xacro:xtion_pro_live>

  <!-- <xacro:xtion_pro_live name="rgbd_camera" parent="world">
    <origin xyz="1.0 0.0 0.05" rpy="${0.0 * deg_to_rad} ${0.0 * deg_to_rad} ${0.0 * deg_to_rad}"/>
    <origin xyz="0 0 0" rpy="${-90 * deg_to_rad} ${0 * deg_to_rad} ${-90 * deg_to_rad}" />
  </xacro:xtion_pro_live> -->

<!-- <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>  -->
<!-- <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>  -->
  <transmission name="tran1">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="arm_joint1">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface> 
    </joint>
    <actuator name="motor1">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface> 
      <mechanicalReduction>50</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="tran2">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="arm_joint2">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface> 
    </joint>
    <actuator name="motor2">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface> 
      <mechanicalReduction>50</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="tran3">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="arm_joint3">
     <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface> 
    </joint>
    <actuator name="motor3">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface> 
      <mechanicalReduction>50</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="tran4">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="arm_joint4">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface> 
    </joint>
    <actuator name="motor4">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface> 
      <mechanicalReduction>50</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="tran5">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="arm_joint5">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface> 
    </joint>
    <actuator name="motor5">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface> 
      <mechanicalReduction>50</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="tran6">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="arm_joint6">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface> 
    </joint>
    <actuator name="motor6">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface> 
      <mechanicalReduction>50</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="tran7">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="x_joint_move">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface> 
    </joint>
    <actuator name="motor8">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="tran8">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="y_joint_move">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface> 
    </joint>
    <actuator name="motor9">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="tran9">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="z_joint_revolute">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface> 
    </joint>
    <actuator name="motor7">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>50</mechanicalReduction>
    </actuator>
  </transmission>

  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/aidin_arm</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
    </plugin>
  </gazebo>

</robot>





