<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <!-- <rosparam file="$(find aidin_arm)/config/aidinarm_positioncontrol.yaml" command="load"/> -->
  <!-- <rosparam file="$(find aidin_arm)/config/aidinarm_effortcontrol.yaml" command="load"/> -->
  <rosparam file="$(find aidin_arm)/config/aidinarm_control.yaml" command="load"/>


  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/aidin_arm" args="joint_state_controller
            joint1_effort_controller
					  joint2_effort_controller
					  joint3_effort_controller
            joint4_effort_controller
            joint5_effort_controller
            joint6_effort_controller
            joint7_position_controller
            joint8_position_controller
            joint9_position_controller"/>

<!-- 
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/aidin_arm" args="joint_state_controller
					  joint1_effort_controller
					  joint2_effort_controller
					  joint3_effort_controller
            joint4_effort_controller
            joint5_effort_controller
            joint6_effort_controller"/> -->

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/aidin_arm/joint_states" />
  </node>

</launch>

