<?xml version="1.0" encoding="UTF-8"?>
<launch>

 <arg name="markerId"        default="582"/>
 <arg name="markerSize"      default="0.095"/>    <!-- When scale = (1,1,1), default = 0.045, please change -->
 <arg name="referenceFrame" default="rgbd_camera"/>   <!-- rgbd_camera, arm_base -->

 <node pkg="aruco_ros" type="single"  name="aruco_single">
      <remap from="/camera_info"       to="/rgbd_camera/rgb/camera_info" />
      <remap from="/image"             to="/rgbd_camera/rgb/image_raw" />
      <param name="image_is_rectified" value="true"/>
      <param name="marker_size"        value="$(arg markerSize)"/>
      <param name="marker_id"          value="$(arg markerId)"/>
      <param name="reference_frame"    value="$(arg referenceFrame)"/>   <!-- The reference frame that shows arucco marker's pose -->
      <param name="camera_frame"       value="rgbd_camera_rgb_optical_frame"/>
      <param name="marker_frame"       value="aruco_frame" />
      <param name="corner_refinement"  value="SUBPIX" />   <!-- NONE, HARRIS, LINES, SUBPIX -->
  </node>

  <!-- <node pkg="look_to_point" type="look_to_point" name="look_to_point"/> -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find aidin_arm)/config/aruco_marker_detect.rviz" required="true" />

    <!-- See http://wiki.ros.org/image_proc for more info -->
  <node ns="camera" name="image_proc" pkg="image_proc" type="image_proc" />
    <remap from="image" to="/rgbd_camera/rgb/image_raw"/>
    <remap from="camera_info" to="/rgbd_camera/rgb/camera_info"/>
</launch>
