<?xml version="1.0" ?>
<robot name="dual_arm" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <link name="world"/>

  <joint name="fixed" type="fixed">
    <parent link="world"/>
    <child link="Pelvis"/>
    <origin rpy="0 0 0" xyz="0 0 0.86"/>
  </joint>

  <link name="Pelvis">
    <inertial>
      <origin xyz="-4E-06 1E-05 0.030876" rpy="0 0 0" />
      <mass value="5.123963" />
      <inertia ixx="0.051784" ixy="0" ixz="1E-06" iyy="0.01018" iyz="-1E-06" izz="0.055756" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dual_arm/meshes/Pelvis.STL" />
     </geometry>
      <material name="">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dual_arm/meshes/Pelvis.STL" />
      </geometry>
    </collision>
  </link>

  <link name="Torso">
    <inertial>
      <origin xyz="-0.004339 0 0.216108" rpy="0 0 0" />
      <mass value="16.636925" />
      <inertia ixx="0.296782" ixy="-2.9E-05" ixz="-0.0052" iyy="0.232939" iyz="0" izz="0.114483" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dual_arm/meshes/Torso.STL" />
      </geometry>
      <material name="">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dual_arm/meshes/Torso.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="Waist_joint" type="revolute">
    <origin xyz="0 0 0.0825" rpy="0 0 0" />
    <parent link="Pelvis" />
    <child link="Torso" />
    <axis xyz="0 0 1" />
    <dynamics damping="1"/>
    <limit lower="-0.87" upper="0.87" effort="100" velocity="13" />
  </joint>

  <link name="L_shoulder_pitch">
    <inertial>
      <origin xyz="0.010378 0.049076 0" rpy="0 0 0" />
      <mass value="0.47258" />
      <inertia ixx="0.000904" ixy="6.4E-05" ixz="0" iyy="0.000955" iyz="0" izz="0.001372" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dual_arm/meshes/L_shoulder_pitch.STL" />
      </geometry>
      <material name="">
         <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dual_arm/meshes/L_shoulder_pitch.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="L_shoulder_pitch_joint" type="revolute">
    <origin xyz="-0.0082603 0.16 0.36224" rpy="0.34907 0 0" />
    <parent link="Torso" />
    <child link="L_shoulder_pitch" />
    <axis xyz="0 1 0" />
    <dynamics damping="1"/>
    <limit lower="-3.14" upper="1.05" effort="55" velocity="16" />
  </joint>

  <link name="L_shoulder_roll">
    <inertial>
      <origin xyz="0.001469 -7E-05 -0.079989" rpy="0 0 0" />
      <mass value="2.002576" />
      <inertia ixx="0.020339" ixy="-4E-06" ixz="0.000225" iyy="0.020072" iyz="4.8E-05" izz="0.002315" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dual_arm/meshes/L_shoulder_roll.STL" />
      </geometry>
      <material name="">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dual_arm/meshes/L_shoulder_roll.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="L_shoulder_roll_joint" type="revolute">
    <origin xyz="0.0082603 0.082 0" rpy="-0.261799387799 0 0" />
    <parent link="L_shoulder_pitch" />
    <child link="L_shoulder_roll" />
    <axis xyz="1 0 0" />
    <dynamics damping="1"/>
    <limit lower="-0.349" upper="2.62" effort="55" velocity="16" />
  </joint>

  <link name="L_shoulder_yaw">
    <inertial>
      <origin xyz="4.8E-05 0.00162 -0.045384" rpy="0 0 0" />
      <mass value="0.608514" />
      <inertia ixx="0.000608" ixy="0" ixz="0" iyy="0.00049" iyz="-2E-06" izz="0.000483" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dual_arm/meshes/L_shoulder_yaw.STL" />
      </geometry>
      <material name="">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dual_arm/meshes/L_shoulder_yaw.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="L_shoulder_yaw_joint" type="revolute">
    <origin xyz="0 0 -0.2505" rpy="0 0 0" />
    <parent link="L_shoulder_roll" />
    <child link="L_shoulder_yaw" />
    <axis xyz="0 0 1" />
    <dynamics damping="1"/>
    <limit lower="-1.57" upper="1.57" effort="30" velocity="8.5" />
  </joint>

  <link name="L_elbow">
    <inertial>
      <origin xyz="0 -5.2E-05 -0.075944" rpy="0 0 0" />
      <mass value="0.297153" />
      <inertia ixx="0.001705" ixy="0" ixz="0" iyy="0.001534" iyz="-1E-06" izz="0.000304" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dual_arm/meshes/L_elbow.STL" />
      </geometry>
      <material name="">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dual_arm/meshes/L_elbow.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="L_elbow_joint" type="revolute">
    <origin xyz="0 0 -0.0545" rpy="0 0 0" />
    <parent link="L_shoulder_yaw" />
    <child link="L_elbow" />
    <axis xyz="0 1 0" />
    <dynamics damping="1"/>
    <limit lower="-1.9" upper="1.05" effort="30" velocity="8.5" />
  </joint>

  <link name="L_EE">
    <inertial>
      <origin xyz="0 0 -0.003514" rpy="0 0 0" />
      <mass value="0.15" />
      <inertia ixx="5.5E-05" ixy="0" ixz="0" iyy="5.5E-05" iyz="0" izz="6.4E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dual_arm/meshes/L_EE.STL" />
      </geometry>
      <material name="">
        <color rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dual_arm/meshes/L_EE.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="L_EE_joint" type="fixed">
    <origin xyz="0 0 -0.3" rpy="0 0 0" />
    <parent link="L_elbow" />
    <child link="L_EE" />
    <axis xyz="0 0 0" />
    <dynamics damping="1"/>
    <limit lower="-1.57" upper="1.57" effort="30" velocity="8.5" />
  </joint>

  <link name="R_shoulder_pitch">
    <inertial>
      <origin xyz="0.010378 -0.049076 0" rpy="0 0 0" />
      <mass value="0.472578" />
      <inertia ixx="0.000904" ixy="-6.4E-05" ixz="0" iyy="0.000955" iyz="0" izz="0.001372" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dual_arm/meshes/R_shoulder_pitch.STL" />
      </geometry>
      <material name="">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dual_arm/meshes/R_shoulder_pitch.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="R_shoulder_pitch_joint" type="revolute">
    <origin xyz="-0.0082603 -0.16 0.36224" rpy="-0.34907 0 0" />
    <parent link="Torso" />
    <child link="R_shoulder_pitch" />
    <axis xyz="0 1 0" />
    <dynamics damping="1"/>
    <limit lower="-3.14" upper="1.05" effort="55" velocity="16" />
  </joint>

  <link name="R_shoulder_roll">
    <inertial>
      <origin xyz="0.001469 -7E-05 -0.079989" rpy="0 0 0" />
      <mass value="2.002576" />
      <inertia ixx="0.020339" ixy="-4E-06" ixz="0.000225" iyy="0.020072" iyz="4.8E-05" izz="0.002315" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dual_arm/meshes/R_shoulder_roll.STL" />
      </geometry>
      <material name="">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dual_arm/meshes/R_shoulder_roll.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="R_shoulder_roll_joint" type="revolute">
    <origin xyz="0.0082603 -0.082 0" rpy="0.261799387799 0 0" />
    <parent link="R_shoulder_pitch" />
    <child link="R_shoulder_roll" />
    <axis xyz="1 0 0" />
    <dynamics damping="1"/>
    <limit lower="-2.62" upper="0.349" effort="55" velocity="16" />
  </joint>

  <link name="R_shoulder_yaw">
    <inertial>
      <origin xyz="-4.8E-05 -0.00162 -0.045384" rpy="0 0 0" />
      <mass value="0.608514" />
      <inertia ixx="0.000608" ixy="0" ixz="0" iyy="0.00049" iyz="2E-06" izz="0.000483" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dual_arm/meshes/R_shoulder_yaw.STL" />
      </geometry>
      <material name="">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dual_arm/meshes/R_shoulder_yaw.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="R_shoulder_yaw_joint" type="revolute">
    <origin xyz="0 0 -0.2505" rpy="0 0 0" />
    <parent link="R_shoulder_roll" />
    <child link="R_shoulder_yaw" />
    <axis xyz="0 0 1" />
    <dynamics damping="1"/>
    <limit lower="-1.57" upper="1.57" effort="30" velocity="8.5" />
  </joint>

  <link name="R_elbow">
    <inertial>
      <origin xyz="0 5.2E-05 -0.075944" rpy="0 0 0" />
      <mass value="0.297153" />
      <inertia ixx="0.001705" ixy="0" ixz="0" iyy="0.001534" iyz="1E-06" izz="0.000304" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dual_arm/meshes/R_elbow.STL" />
      </geometry>
      <material name="">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dual_arm/meshes/R_elbow.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="R_elbow_joint" type="revolute">
    <origin xyz="0 0 -0.0545" rpy="0 0 0" />
    <parent link="R_shoulder_yaw" />
    <child link="R_elbow" />
    <axis xyz="0 1 0" />
    <dynamics damping="1"/>
    <limit lower="-1.9" upper="1.05" effort="30" velocity="8.5" />
  </joint>

  <link name="R_EE">
    <inertial>
      <origin xyz="0 0 -0.003514" rpy="0 0 0" />
      <mass value="0.15" />
      <inertia ixx="5.5E-05" ixy="0" ixz="0" iyy="5.5E-05" iyz="0" izz="6.4E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dual_arm/meshes/R_EE.STL" />
      </geometry>
      <material name="">
        <color rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dual_arm/meshes/R_EE.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="R_EE_joint" type="fixed">
    <origin xyz="0 0 -0.3" rpy="0 0 0" />
    <parent link="R_elbow" />
    <child link="R_EE" />
    <axis xyz="0 0 0" />
    <dynamics damping="1"/>
    <limit lower="-1.57" upper="1.57" effort="30" velocity="8.5" />
  </joint>

  <link name="Neck_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.05"/>
      <inertia ixx="1E-5" ixy="0" ixz="0" iyy="1E-5" iyz="0" izz="1E-5"/>
    </inertial>
  </link>

  <joint name="Head_yaw_joint" type="revolute">
    <origin xyz="-0.0027205 0 0.45287" rpy="0 0 0" />
    <parent link="Torso" />
    <child link="Neck_link" />
    <axis xyz="0 0 1" />
    <dynamics damping="1"/>
    <limit lower="-1.57" upper="1.57" effort="30" velocity="5" />
  </joint>

  <joint name="Head_pitch_joint" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="Neck_link" />
    <child link="Head" />
    <axis xyz="0 1 0" />
    <dynamics damping="1"/>
    <limit lower="-1.0" upper="1.0" effort="30" velocity="5" />
  </joint>

  <link name="Head">
    <inertial>
      <origin rpy="0 0 0" xyz="0.022307 0.000408 0.104941"/>
      <mass value="0.44842"/>
      <inertia ixx="0.002696" ixy="-9E-06" ixz="-0.000288" iyy="0.00313" iyz="-7E-06" izz="0.001525"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dual_arm/meshes/Head.STL" />
     </geometry>
      <material name="">
        <color rgba="0.376470588235294 0.376470588235294 0.376470588235294 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dual_arm/meshes/Head.STL" />
      </geometry>
    </collision>
  </link>

  <link name="L_hip">
    <inertial>
      <origin xyz="-0.076146 -0.000144 -0.068558" rpy="0 0 0" />
      <mass value="1.5262" />
      <inertia ixx="0.004624" ixy="1.1E-05" ixz="0.001652" iyy="0.005293" iyz="6E-06" izz="0.003353" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dual_arm/meshes/L_hip.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dual_arm/meshes/L_hip.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="L_hip_joint" type="fixed">
    <origin xyz="0 0.1175 0.0058" rpy="0 0 0" />
    <parent link="Pelvis" />
    <child link="L_hip" />
    <axis xyz="0 0 1" />
    <dynamics damping="1"/>
    <limit lower="-0.79" upper="0.61" effort="115" velocity="22" />
  </joint>

  <link name="L_hip2">
    <inertial>
      <origin xyz="0.062812 -0.057927 -0.015123" rpy="0 0 0" />
      <mass value="1.3333" />
      <inertia ixx="0.002186" ixy="-0.000631" ixz="-0.00026" iyy="0.003313" iyz="0.000174" izz="0.002911" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dual_arm/meshes/L_hip2.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dual_arm/meshes/L_hip2.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="L_hip2_joint" type="fixed">
    <origin xyz="-0.0733 0 -0.0965" rpy="0 0 0" />
    <parent link="L_hip" />
    <child link="L_hip2" />
    <axis xyz="-1 0 0" />
    <dynamics damping="1"/>
    <limit lower="-0.7" upper="0.52" effort="115" velocity="22" />
  </joint>

  <link name="L_thigh">
    <inertial>
      <origin xyz="-2E-05 0.050143 -0.086535" rpy="0 0 0" />
      <mass value="4.91" />
      <inertia ixx="0.078865" ixy="0" ixz="-9E-06" iyy="0.079352" iyz="0.00221" izz="0.009803" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dual_arm/meshes/L_thigh.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dual_arm/meshes/L_thigh.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="L_thigh_joint" type="fixed">
    <origin xyz="0.075 -0.0443 -0.0185" rpy="0 0 0" />
    <parent link="L_hip2" />
    <child link="L_thigh" />
    <axis xyz="0 -1 0" />
    <dynamics damping="1"/>
    <limit lower="-2.44" upper="0.35" effort="115" velocity="22" />
  </joint>

  <link name="L_calf">
    <inertial>
      <origin xyz="3.6E-05 0.000712 -0.1237" rpy="0 0 0" />
      <mass value="1.5" />
      <inertia ixx="0.014686" ixy="0" ixz="3E-06" iyy="0.014996" iyz="-9E-06" izz="0.001006" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dual_arm/meshes/L_calf.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dual_arm/meshes/L_calf.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="L_calf_joint" type="fixed">
    <origin xyz="0 0.045966 -0.35" rpy="0 0 0" />
    <parent link="L_thigh" />
    <child link="L_calf" />
    <axis xyz="0 -1 0" />
    <dynamics damping="1"/>
    <limit lower="-2.09" upper="2.09" effort="175" velocity="22" />
  </joint>

  <link name="L_toe">
    <inertial>
      <origin xyz="0.01468 1.4E-05 -0.035597" rpy="0 0 0" />
      <mass value="0.52014" />
      <inertia ixx="0.000142" ixy="-1E-06" ixz="-2.6E-05" iyy="0.001621" iyz="0" izz="0.001685" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dual_arm/meshes/L_toe.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dual_arm/meshes/L_toe.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="L_toe_joint" type="fixed">
    <origin xyz="0 0 -0.35" rpy="0 0 0" />
    <parent link="L_calf" />
    <child link="L_toe" />
    <axis xyz="0 -1 0" />
    <dynamics damping="1"/>
    <limit lower="-0.7854" upper="0.7854" effort="20" velocity="15" />
  </joint>

  <link name="R_hip">
    <inertial>
      <origin xyz="-0.076146 -0.000144 -0.068558" rpy="0 0 0" />
      <mass value="1.5262" />
      <inertia ixx="0.004624" ixy="1.1E-05" ixz="0.001652" iyy="0.005293" iyz="6E-06" izz="0.003353" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dual_arm/meshes/R_hip.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dual_arm/meshes/R_hip.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="R_hip_joint" type="fixed">
    <origin xyz="0 -0.1175 0.0058" rpy="0 0 0" />
    <parent link="Pelvis" />
    <child link="R_hip" />
    <axis xyz="0 0 1" />
    <dynamics damping="1"/>
    <limit lower="-0.61" upper="0.79" effort="115" velocity="22" />
  </joint>

  <link name="R_hip2">
    <inertial>
      <origin xyz="0.062812 0.057927 -0.015123" rpy="0 0 0" />
      <mass value="1.3333" />
      <inertia ixx="0.002186" ixy="0.000631" ixz="-0.00026" iyy="0.003313" iyz="-0.000174" izz="0.002911" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dual_arm/meshes/R_hip2.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dual_arm/meshes/R_hip2.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="R_hip2_joint" type="fixed">
    <origin xyz="-0.0733 0 -0.0965" rpy="0 0 0" />
    <parent link="R_hip" />
    <child link="R_hip2" />
    <axis xyz="-1 0 0" />
    <dynamics damping="1"/>
    <limit lower="-0.52" upper="0.7" effort="115" velocity="22" />
  </joint>

  <link name="R_thigh">
    <inertial>
      <origin xyz="2E-05 -0.004177 0.26347" rpy="0 0 0" />
      <mass value="4.91" />
      <inertia ixx="0.078865" ixy="0" ixz="9E-06" iyy="0.079352" iyz="-0.00221" izz="0.009803" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dual_arm/meshes/R_thigh.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dual_arm/meshes/R_thigh.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="R_thigh_joint" type="fixed">
    <origin xyz="0.0548 0.0443 -0.018825" rpy="0 0 0" />
    <parent link="R_hip2" />
    <child link="R_thigh" />
    <axis xyz="0 1 0" />
    <dynamics damping="1"/>
    <limit lower="-2.44" upper="0.35" effort="115" velocity="22" />
  </joint>

  <link name="R_calf">
    <inertial>
      <origin xyz="-3.6E-05 -0.000712 -0.1237" rpy="0 0 0" />
      <mass value="1.5" />
      <inertia ixx="0.014686" ixy="0" ixz="-3E-06" iyy="0.014996" iyz="9E-06" izz="0.001006" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dual_arm/meshes/R_calf.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dual_arm/meshes/R_calf.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="R_calf_joint" type="fixed">
    <origin xyz="0.0202 -0.045966 -0.34967" rpy="0 0 0" />
    <parent link="R_thigh" />
    <child link="R_calf" />
    <axis xyz="0 -1 0" />
    <dynamics damping="1"/>
    <limit lower="-2.09" upper="2.09" effort="175" velocity="22" />
  </joint>

  <link name="R_toe">
    <inertial>
      <origin xyz="0.01468 1.4E-05 -0.035597" rpy="0 0 0" />
      <mass value="0.22119" />
      <inertia ixx="0.000142" ixy="-1E-06" ixz="-2.6E-05" iyy="0.001621" iyz="0" izz="0.001685" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dual_arm/meshes/R_toe.STL" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dual_arm/meshes/R_toe.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="R_toe_joint" type="fixed">
    <origin xyz="0 0 -0.35" rpy="0 0 0" />
    <parent link="R_calf" />
    <child link="R_toe" />
    <axis xyz="0 -1 0" />
    <dynamics damping="1"/>
    <limit lower="-0.7854" upper="0.7854" effort="20" velocity="15" />
  </joint>


  <transmission name="tran1">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="Waist_joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>  
    </joint>
    <actuator name="motor1">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface> 
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="tran2">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="L_shoulder_pitch_joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface> 
    </joint>
    <actuator name="motor2">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface> 
      <mechanicalReduction>1</mechanicalReduction>
  </actuator>
  </transmission>

  <transmission name="tran3">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="L_shoulder_roll_joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface> 
    </joint>
    <actuator name="motor3">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface> 
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="tran4">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="L_shoulder_yaw_joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface> 
    </joint>
    <actuator name="motor4">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface> 
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="tran5">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="L_elbow_joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface> 
    </joint>
    <actuator name="motor5">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface> 
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="tran6">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="R_shoulder_pitch_joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface> 
    </joint>
    <actuator name="motor6">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface> 
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="tran7">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="R_shoulder_roll_joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface> 
    </joint>
    <actuator name="motor7">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface> 
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="tran8">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="R_shoulder_yaw_joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface> 
    </joint>
    <actuator name="motor8">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface> 
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="tran9">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="R_elbow_joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface> 
    </joint>
    <actuator name="motor9">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface> 
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="tran_head_yaw">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="Head_yaw_joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface> 
    </joint>
    <actuator name="motor_head_yaw">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface> 
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="tran_head_pitch">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="Head_pitch_joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface> 
    </joint>
    <actuator name="motor_head_pitch">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface> 
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <gazebo reference="Head">
    <sensor type="camera" name="head_camera">
      <pose>0.15 0 0.05 0 0 0</pose> 
      <update_rate>30.0</update_rate>
      <camera name="head">
        <horizontal_fov>1.3962634</horizontal_fov>
        <image>
          <width>800</width>
          <height>800</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>300</far>
        </clip>
      </camera>
      <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <cameraName>dual_arm/camera</cameraName>
        <imageTopicName>image_raw</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>Head</frameName>
        <hackBaseline>0.07</hackBaseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
      </plugin>
    </sensor>
  </gazebo>

  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/dual_arm</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
    </plugin>
  </gazebo>

</robot>