<launch>


  <!-- Position Control -->

  <!-- <rosparam file="$(find dual_arm)/config/dual_arm_positioncontrol.yaml" command="load"/>
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/dual_arm" args="joint_state_controller
					  joint1_position_controller
					  joint2_position_controller
					  joint3_position_controller
            joint4_position_controller
            joint5_position_controller
            joint6_position_controller
            joint7_position_controller
            joint8_position_controller
            joint9_position_controller
            joint10_position_controller
            joint11_position_controller
            joint12_position_controller
            joint13_position_controller"/> -->


  <!-- Effort Control -->

  <rosparam file="$(find dual_arm)/config/dual_arm_effortcontrol.yaml" command="load"/>
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/dual_arm" args="joint_state_controller
					  joint1_effort_controller
					  joint2_effort_controller
					  joint3_effort_controller
            joint4_effort_controller
            joint5_effort_controller
            joint6_effort_controller
            joint7_effort_controller
            joint8_effort_controller
            joint9_effort_controller
            joint10_effort_controller
            joint11_effort_controller
            joint12_effort_controller
            joint13_effort_controller"/>
            

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/dual_arm/joint_states" />
  </node>

</launch>
